<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.calendar.dao.mapper.CalendarInfoMapper">

    <insert id="batchSave" parameterType="com.mini.calendar.dao.model.CalendarInfo">
        insert into calendar_info (solar_year,solar_month,solar_day,lunar_year,lunar_month,lunar_day,gz_year,gz_month,
        gz_day,animal,avoid,suit,week_day,remark, status) values
        <foreach collection ="calendarInfoList" item="calendar" index= "index" separator =",">
            (
                #{calendar.solarYear},
                #{calendar.solarMonth},
                #{calendar.solarDay},
                #{calendar.lunarYear},
                #{calendar.lunarMonth},
                #{calendar.lunarDay},
                #{calendar.gzYear},
                #{calendar.gzMonth},
                #{calendar.gzDay},
                #{calendar.animal},
                #{calendar.avoid},
                #{calendar.suit},
                #{calendar.weekDay},
                #{calendar.remark},
                #{calendar.status}
            )
        </foreach >
    </insert>

    <select id="queryCalendarListBySolarYearAndMonth" resultType="com.mini.calendar.dao.model.CalendarInfo">
        select id, solar_year,solar_month,solar_day,lunar_year,lunar_month,lunar_day,gz_year,gz_month,
        gz_day,animal,avoid,suit,week_day,remark, status from calendar_info
        where 1 = 1 and
        <foreach collection="queryDTOList" item="item" separator="or" open="(" close=")">
            solar_year = #{item.solarYear} and solar_month = #{item.solarMonth}
        </foreach>
        order by id asc
    </select>

    <select id="queryYearList" resultType="java.lang.Integer">
        select distinct solar_year from calendar_info where solar_year > 2009
        order by id asc
    </select>

    <select id="countDayNum" resultType="com.mini.calendar.dao.model.CalendarCountDayDTO">
        select solar_month as month, count(solar_day) as dayNum
        from calendar_info
        where solar_year = #{solarYear} GROUP BY solar_month
    </select>

    <select id="countMonthDayNum" resultType="com.mini.calendar.dao.model.CalendarCountDayDTO">
        select solar_month as month, count(solar_day) as dayNum
        from calendar_info
        where solar_year = #{solarYear} and solar_month = #{solarMonth}
    </select>


    <select id="queryDayDetail" resultType="com.mini.calendar.dao.model.CalendarInfo">
        select id, solar_year,solar_month,solar_day,lunar_year,lunar_month,lunar_day,gz_year,gz_month,
        gz_day,animal,avoid,suit,week_day,remark, status
        from calendar_info
        where solar_year = #{solarYear} and solar_month = #{solarMonth} and solar_day = #{solarDay}
    </select>

</mapper>