<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.calendar.dao.mapper.SubjectPraiseMapper">

    <insert id="saveSubjectPraise" parameterType="com.mini.calendar.dao.model.SubjectPraise" useGeneratedKeys="true" keyProperty="id">
        insert into subject_praise (space_id, subject_id, user_id, deleted) values
        (#{praise.spaceId}, #{praise.subjectId}, #{praise.userId}, 0)
    </insert>

    <select id="queryBySpaceIdAndSubjectIdList" resultType="com.mini.calendar.dao.model.SubjectPraise">
        select id, space_id, subject_id, user_id
        from subject_praise
        where space_id = #{spaceId} and deleted = 0 and subject_id in
        <foreach collection="subjectIdList" item="subjectId" open="(" separator="," close=")">
            #{subjectId}
        </foreach>
    </select>

    <select id="queryUniquePraise" resultType="com.mini.calendar.dao.model.SubjectPraise">
        select id, deleted  from subject_praise
        where space_id = #{spaceId} and subject_id = #{subjectId} and user_id = #{userId}
    </select>

    <select id="querySubjectPraiseList" resultType="com.mini.calendar.dao.model.SubjectPraiseDTO">
        select praise.id, praise.space_id, praise.subject_id, praise.user_id, us.nick_name
        from subject_praise praise
        inner join calendar_user us on us.id = praise.user_id
        where praise.space_id = #{spaceId} and praise.subject_id = #{subjectId} and praise.deleted = 0
        order by praise.id desc
    </select>

    <update id="updatePraise">
        update subject_praise set deleted = #{deleted} where id = #{id}
    </update>

</mapper>