<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.calendar.dao.mapper.SubjectCommentMapper">

    <insert id="saveSubjectComment" parameterType="com.mini.calendar.dao.model.SubjectComment" useGeneratedKeys="true" keyProperty="id">
        insert into subject_comment (space_id, subject_id, user_id, content, deleted) values
        (#{comment.spaceId}, #{comment.subjectId}, #{comment.userId}, #{comment.content}, 0)
    </insert>

    <select id="queryBySpaceIdAndSubjectIdList" resultType="com.mini.calendar.dao.model.SubjectComment">
        select id, space_id, subject_id, user_id, content
        from subject_comment
        where space_id = #{spaceId} and deleted = 0 and subject_id in
        <foreach collection="subjectIdList" item="subjectId" open="(" separator="," close=")">
            #{subjectId}
        </foreach>
    </select>

    <select id="querySubjectCommentList" resultType="com.mini.calendar.dao.model.SubjectCommentDTO">
        select comm.id, comm.space_id, comm.subject_id, comm.user_id, comm.content, us.nick_name
        from subject_comment comm
        inner join calendar_user us on us.id = comm.user_id
        where comm.space_id = #{spaceId} and comm.subject_id = #{subjectId} and comm.deleted = 0
    </select>

</mapper>